.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1d3557;
    color: white;
  }
  
  .loader {
    text-align: center;
  }
  
  .logo {
   width: 150px;
    /*height: auto;*/
    margin-bottom: 20px;
    border: 3px solid white; 
    /*border-radius: 10px; */
    border-radius: 50%;
    object-fit: cover;
    padding: 5px; 
    box-sizing: border-box;
  }
  